@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

:root {
    --dark: rgb(26, 25, 25);
    --gray: rgb(168, 165, 165);
    --box-shadow: .5rem .5rem 0 rgba(26, 199, 211, 0.2);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
  --linearGradient: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

html{
    font-size: 62.5%;
   overflow-x: hidden; 
   scroll-padding-top: 7rem;
   scroll-behavior: smooth;
}

.header{
    padding: 2rem 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}